In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv("pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [4]:
pd.read_csv("pokemon.csv",index_col="Pokemon").squeeze()

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [5]:
type(pd.read_csv("pokemon.csv",index_col="Pokemon").squeeze())

pandas.core.series.Series

In [6]:
pd.read_csv("google_stocks.csv")

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

In [8]:
pd.read_csv("google_stocks.csv",parse_dates=["Date"]).dtypes

Date     datetime64[ns]
Close           float64
dtype: object

In [9]:
pd.read_csv("google_stocks.csv",parse_dates=['Date'])

           Date    Close
0    2004-08-19    49.98
1    2004-08-20    53.95
2    2004-08-23    54.50
3    2004-08-24    52.24
4    2004-08-25    52.80
...         ...      ...
3819 2019-10-21  1246.15
3820 2019-10-22  1242.80
3821 2019-10-23  1259.13
3822 2019-10-24  1260.99
3823 2019-10-25  1265.13

[3824 rows x 2 columns]